body { 
    background:#111; 
    color:white; 
    text-align:center; 
    font-family:Arial;
}

p { 
    font-size:18px; 
    margin:8px; 
}

a { 
    color:red; 
    display:block; 
    margin-top:20px; 
    font-size:20px;
}

#listaExtrato {
    margin-top: 20px;
    padding: 15px;
}

