
body {
    background: #111;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}


input {
    padding: 12px;
    width: 230px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    outline: none;
}

button {
    padding: 12px 25px;
    background: red;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #ff3131;
    transform: scale(1.05);
}


a {
    color: red;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #ff5555;
}