* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f9f9f9;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #8B0000, #B22222);
  color: white;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

h1 {
  font-size: 26px;
}

.btn-header {
  background: white;
  color: #8B0000;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-header:hover {
  background: #ffeaea;
  transform: scale(1.05);
}

main {
  max-width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

label {
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn {
  background: linear-gradient(135deg, #8B0000, #B22222);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.2;
  transform: scale(1.03);
}